body{
    margin: 0;
    padding: 0;

    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;


    background-color: transparent;
    background-position: top center;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

.main-header{
    height: 60px;
    background-color: #3273dc;
    color: #fff;
}

.header-conteiner{
    width: 1344px;
    margin: 0 auto;
    display: flex;
}
.wrapper-botton-registration{
    padding-left: 1025px;
    padding-top: 15px;
    display: flex;
}

.wrapper-botton-o{
    padding-top: 15px;
}
.o-button{
    border-radius: 290486px;
    padding-left: 1em;
    padding-right: 1em;
    font-size: .75rem;
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.375em - 1px);
    text-align: center;
    white-space: nowrap;
    align-items: center;
    border: 1px solid transparent;
    display: inline-flex;
    height: 2.25em;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
}
.registration-button:not(.is-white):not(.is-static):not(.is-text):not(.hm-noshadow){
    border-width: 1px;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: calc(.375em - 1px);
    padding-top: calc(.375em - 1px);
    text-align: center;
    white-space: nowrap;
    -webkit-appearance: none;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid transparent;
    height: 2.25em;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    -moz-user-select: none;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    transition: all .15s ease;
    border-radius: 290486px;
    padding-left: 1em;
    padding-right: 1em;
    font-size: .75rem;
    background-color: #ffdd57;
    border-color: transparent;
    color: rgba(0,0,0,.7);
}

.top-menu{
    background-color: #f5f5f5;
    height: 165px;
}

.top-menu-conteiner{
    width: 1344px;
    margin: 0 auto;
}
.main-navigation{
    display: flex;
    height: 100px;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.85;
}

.main-header-logo{
    width: 150px;
    height: 70px;
    padding: 10px;
}

.main-link{
    font-family: 'Aguafina Script', cursive;
    font-size: 24px;
    padding: 10px;
    margin: auto;
    color: #363636;
}


.main-navigation-wrapper{
    padding-right: 366px;
    height: 55px;
    padding-top: 0px;
    margin-top: 105px;
    margin-right: 196px;
    width: 1160px;
}

.main-navigation-wrapper .container{
    display: flex;
    justify-content: space-between;
}
.site-navigation,
.user-navigation{
    list-style: none;
}

.site-navigation a,
.user-navigation a{
    display: block;
    padding: 25px 20px;

    vertical-align: middle;
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
    border: 1px solid #ffdd57;
    background-color: #f5f5f5;
}

.wrapper-botton-o-conteiner a{
    text-decoration: none;
}

.wrapper-botton-o-conteiner:hover,
.wrapper-botton-o-conteiner:focus {
    border: 1px solid #ffdd57;
    background-color: #f5f5f5;
    border-radius: 20px;
}

.wrapper-botton-o-exit:hover,
.wrapper-botton-o-exit:focus {
    border: 1px solid #ffdd57;
    background-color: #f5f5f5;
    border-radius: 25px;
    height: 21px;
}

.wrapper-botton-registration a:hover,
.wrapper-botton-registration a:focus {
    border: 1px solid #ffdd57;
    background-color: #f5f5f5;
    text-decoration-line: none;
}

.site-navigation a{
    border-radius: 20px;
}

.user-navigation{
    max-width: 150px;
}

.site-navigation{
    display: flex;
    flex-wrap: wrap;
    width: 850px;
}

.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.site-navigation > li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
}

.down{
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #eaeaea;
    margin-top: 10px;
    height: 72px;
    list-style: none;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
}

.list{
    height: 40px;
}

.down-link{
    height: 40px;
}

.down-center{
    text-align: center;
}

.indent{
    margin-left: 5px;
    margin-right: 5px;
}

.down:after {
    content: "";
    margin-left: 8px;
    font-family: 'Lora', serif;
}

.submenu {
    background: white;
    border: 2px solid #003559;
    position: static;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    width: 185px;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0% 0%;
    transition: .6s ease-in-out;
    padding-right: 15px;
    padding-left: 21px;
    height: 215px;
}

.submenu li a {
    color: #7f7f7f;
    font-size: 13px;
    line-height: 36px;
    padding: 0 25px;
    font-family: 'Lora', serif;
}

/*CURRENCY SECTION*/
.main-conteiner{
    width: 1344px;
}

.main-currency{
    width:800px;
    height: 80px;
}

/*Table*/
#currency-crud-table {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;
    border-collapse:separate;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}

#currency-crud-table th {
    font-weight:bold;
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
#currency-crud-table th:first-child{
    text-align: left;
    padding-left:20px;
}
#currency-crud-table tr:first-child th:first-child{
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
#currency-crud-table tr:first-child th:last-child{
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
#currency-crud-table tr{
    text-align: center;
    padding-left:20px;
}
#currency-crud-table tr td:first-child{
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
#currency-crud-table tr td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
#currency-crud-table tr:nth-child(even) td{
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
#currency-crud-table tr:last-child td{
    border-bottom:0;
}
#currency-crud-table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
#currency-crud-table tr:last-child td:last-child{
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
#currency-crud-table tr:hover td{
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

#currency-crud-table a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
#currency-crud-table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
#currency-crud-table a:active,
#currency-crud-table a:hover {
    color: #bd5a35;
    text-decoration: underline;
}

/*ADD CURRENCY FORM*/

.addCurrency-container{
    position: absolute;
    width: 400px;
    height: 400px;
    margin: 0 0 0 800px;
    display: flex;
    bottom: 385px;
}

#addCurrencyButton{
    width: 150px;
    height: 150px;
    background-color: #5BCAFF;
}

#postcard{
    background-color: white;
    width: 150px;
    height: 150px;
    opacity: 0.8;
    display: none;
}

.form-row input{
    background-color: #5BCAFF;
    width: 140px;
    height: 60px;
}

#message{
    width: 125px;
    height: 25px;
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
    padding-right: 10px;
}

/*UPDATE CURRENCY FORM*/

.update-currency{
    position: absolute;
    width: 400px;
    height: 400px;
    margin: 0 0 0 800px;
    display: flex;
    bottom: 200px;
}

.form-row{
    width: 130px;
    background-color: white;
}

.form-row-edit{
    width: 130px;
    background-color: white;
}

.form-row-edit input{
    background-color: #5BCAFF;
    width: 130px;
    height: 60px;
}

#updateForm{
    display: none;
}

#message-edit{
    width: 130px;
    height: 50px;
}

#message-edit2{
    width: 130px;
    height: 50px;
}
/*------------------------------------------------*/

/*ACCOUNT SECTION*/

.account-table{
    width: 670px;
    margin-left: 280px;
}

.account-table td{
    border-width: 0 0 1px 0;
    border-style: dotted;
    border-collapse: collapse;
}

.account-table td,th{
    border-width: 0 0 1px 0;
}

.button-icon{
    width: 30px;
}

.button-icon-conteiner{
    width: 30px;
    height: 30px;
}

.button-icon-conteiner i:focus,
.button-icon-conteiner i:hover{
    opacity: 1;
    border: 1px solid #ffdd57;
    background-color: #f5f5f5;
}

.fa.fa-pencil{
    opacity: 0.1;
}

.account-name{
    width: 485px;
}

#modal-background{
    background-color: rgba(10,10,10,.86);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    z-index: 100;
}

.addAccount{
    background-color: #fff;
    width: 120px;
    height: 30px;
    margin-left: 280px;
    border-radius: 20px;
    margin-top: 35px;
}
.fa.fa-plus{
    padding-right: 4px;
}

.fa.fa-times-circle{
    cursor: pointer;
}

.fa.fa-times-circle:focus,
.fa.fa-times-circle:hover{
}

.close-button{
    padding-left: 565px;
    padding-bottom: 10px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    margin-bottom: 0px;
    margin-top: -40px;
    margin-left: 30px;
}

.addAccount:focus,
.addAccount:hover{
    background-color: #f5f5f5;
    border: 1px solid #ffdd57;
}

.addAccount-window{
    width: 640px;
    height: 306px;
    margin: 0 auto;
}

.create-new-account{
    margin: 0 auto;
    background-color: #fff;
    display: none;
    z-index: 150;
    position: fixed;
}

.modal-account-head{
    width: 640px;
    height: 65px;
    border-bottom: 1px solid #dbdbdb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #f5f5f5;
}

.modal-account-title{
    color: #000000;
    padding-top: 18px;
    padding-left: 20px;
}

.footer-account-modal{
    width: 640px;
    height: 77px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 1px solid #dbdbdb;
    background-color: #f5f5f5;
}

.wrapper-create-new-account{
    display: grid;
    width: 250px;
}


#currency,#type{
    width: 100px;
}

.account-name-type{
    margin-top: 30px;
}

.account-amount-currency{
    margin-top: 20px;
}

#name{
    width: 359px;
}
.account-list-navigation{
    display: grid;
    position: absolute;
    margin-bottom: 690px;
    bottom: 0;
    margin-left: 350px;
}

.type{
    width: 100px;
}
.type-account-model{
    width: 190px;
}

.title-account-list{
    margin-left: 600px;
}

.section-account-modal{
    height: 164px;
    background-color: #fff;
}

.save-account{
    background-color: #3f9142;
    border-color: transparent;
    border-radius: 4px;
    margin-left: 480px;
    margin-top: 18px;
    width: 112px;
    height: 36px;
}

.wrapper-update-account{
    display: grid;
}

#update-this-account{
    width: 200px;
}

/*CATEGORY-BOOTSTRAP-OVERRIDE*/

.table {
    width: 50%;
}

/*LOGIN*/
.auth{
    margin: 0 auto;
    padding-top: 100px;
}

.auth-conteiner{
    border-width: 1px;
    border-color: #ffdd57;
    border-radius: 4px;
    border-style: solid;
    color: #4a4a4a;
    padding: 1.25em 1.5em;
    height: 350px;
    width: 300px;
    margin: 0 auto;
}

.auth-form img{
    margin-left: 80px;
}

.auth-form label{
    margin-left: 29px;
}

.signIn{
    margin-left: 90px;
    border-radius: 3px;
    background-color: #3f9142;
    border-color: transparent;
    color: #fff;
    height: 30px;
    width: 85px;
}

.hidden-auth-span{
    height: 30px;
    display: block;
}


#registration{
    margin-left: 75px;
}