<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomeFinance</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script|Lato|Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="header.html::header"></div>
<div th:replace="header.html::section"></div>
<main class="main-account">
    <section class="create-account">
        <div id="modal-background" class="modal-background"></div>
        <button class="addAccount" onclick="showModalAccount('block')"><i class="fa fa-plus"></i>Новый Счет</button>
        <div class="title-account-list"><span class="title-span">Счета</span></div>
        <table class="account-table">
            <tbody>
            <tr th:each="account : ${accounts}">
                <td class="button-icon">
                    <div class="button-icon-conteiner"><a class="small-button"><i class="fa fa-pencil fa-2x"></i></a>
                    </div>
                </td>
                <td class="account-name" th:text="${account.name}"></td>
                <td class="account-amount-code" th:text="${account.amount} + ${account.currencyModel.code}"></td>
                <td class="button-icon">
                    <div class="button-icon-conteiner"><a class="small-button"><i class="fa fa-bitbucket fa-2x"></i></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="addAccount-window" id="addAccount-window">
            <form id="create-new-account" class="create-new-account" th:action="@{/account/add}" method="post"
                  accept-charset=utf-8>
                <div class="wrapper-create-new-account">
                    <header class="modal-account-head">
                        <p class="modal-account-title">Счет<div class="close-button" onclick="showModalAccount('none')"><i class="fa fa-times-circle fa-2x"></i></div></p>
                    </header>
                    <section class="section-account-modal">
                        <div class="account-name-type">
                            <label>Название<input id="name" type="text"></label>
                            <label class="type-account-model">Тип Счета<select id="type" class="type">
                                <option value="CASH">CASH</option>
                                <option value="DEPOSIT">DEPOSIT</option>
                            </select></label>
                        </div>
                        <div class="account-amount-currency">
                            <label>Баланс<input id="amount" type="text"></label>
                            <label>Валюта<select id="currency">
                                <option value="RUB">RUB</option>
                                <option value="EUR">EUR</option>
                                <option value="USD">USD</option>
                                <option value="GBP">GBP</option>
                                <option value="JPY">JPY</option>
                                <option value="CNY">CNY</option>
                            </select></label>
                        </div>
                    </section>
                    <div id="hidden-account" class="footer-account-modal">
                        <input id="save-account" class="save-account" type="submit" onclick="addAccount();return false;"
                               value="Сохранить">
                    </div>
                </div>
            </form>
        </div>
        <form class="update-account" th:action="@{/account/update}" method="post"
              accept-charset=utf-8>
            <div class="wrapper-update-account">
                <label>Название Счета<input id="update-name" type="text"></label>
                <label>Тип Счета<select id="update-type">
                    <option value="CASH">CASH</option>
                    <option value="DEPOSIT">DEPOSIT</option>
                </select></label>
                <label>Сума на Счету<input id="update-amount" type="text"></label>
                <label>Валюта<select id="update-currency">
                    <option value="RUB">RUB</option>
                    <option value="EUR">EUR</option>
                    <option value="USD">USD</option>
                    <option value="GBP">GBP</option>
                    <option value="JPY">JPY</option>
                    <option value="CNY">CNY</option>
                </select></label>
                <input id="update-this-account" type="submit" onclick="updateAccount();return false;"
                       value="Update Account">
            </div>
        </form>
        <form class="delete-account" th:action="@{/account/delete}" method="post"
              accept-charset=utf-8>
            <div class="wrapper-delete-account">
                <label>Account name<input id="delete-name" type="text"></label>
                <input id="delete-this-account" type="submit" onclick="deleteAccount();return false;"
                       value="Delete Account">
            </div>
        </form>
    </section>
</main>
<script type="text/javascript" th:src="@{/js/account/addAccount.js}" src="/js/account/addAccount.js"></script>
<script type="text/javascript" th:src="@{/js/account/updateAccount.js}" src="/js/account/updateAccount.js"></script>
<script type="text/javascript" th:src="@{/js/account/deleteAccount.js}" src="/js/account/deleteAccount.js"></script>
<script type="text/javascript" th:src="@{/js/account/showModalAccount.js}" src="/js/account/showModalAccount.js"></script>
</body>
</html>