<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomeFinance</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script|Lato|Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="header.html::header"></div>
<section class="top-menu">
    <div class="top-menu-conteiner">
        <nav class="main-navigation">
            <a class="main-header-logo">
                <img th:src="@{/img/moneybox-logo.png}" src="/img/moneybox-logo.png" width="150" height="80">
            </a>
            <a class="main-link" href="/index">HomeFinance</a>
            <div class="main-navigation-wrapper">
                <div class="container">
                    <ul class="site-navigation">
                        <li class="down"><a>Управление Пользователями</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</section>
</body>
</html>