<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomeFinance</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script|Lato|Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="header.html::header"></div>
<div th:replace="header.html::section"></div>
<main class="main-category">
    <section class="create-category">
        <table class="table table-bordered table-hover">
            <tr>
                <th>ИД Категории</th>
                <th>Тип Категории</th>
                <th>Изменить Категорию</th>
                <th>Удалить Категорию</th>
            </tr>
            <tr th:each="category : ${categories}">
                <td th:text="${category.categoryId}"></td>
                <td th:text="${category.typeCategory}"></td>
                <td><input type="button">Изменить</td>
                <td><input type="button">Удалить</td>
            </tr>
        </table>
        <button class="addCategory">Добавить Категорию</button>
        <form id="create-new-category" class="create-new-category" th:action="@{/category/add}" method="post"
              accept-charset=utf-8>
            <div class="wrapper-create-new-account">
                <label>Тип Категории<select id="type">
                    <option value="COMMON">COMMON</option>
                    <option value="SERVICE">SERVICE</option>
                    <option value="SALARY">SALARY</option>
                </select></label>
                <div id="hidden-category">
                    <input id="save-category" type="submit" onclick="addCategory();return false;" value="Сохранить Категорию">
                </div>
            </div>
        </form>
        <form id="update-categorys" class="update-category" th:action="@{/category/update}" method="post"
              accept-charset=utf-8>
            <div class="wrapper-update-account">
                <label>ИД Категории<select id="update-categoryById">
                    <option th:each="category : ${categories}" th:value="${category.categoryId}"></option>
                </select></label>
                <label>Тип Категории<select id="update-type">
                    <option value="COMMON">COMMON</option>
                    <option value="SERVICE">SERVICE</option>
                    <option value="SALARY">SALARY</option>
                </select></label>
                <div id="hidden-update-category">
                    <input id="update-category" type="submit" onclick="updateCategory();return false;" value="Изменить Категорию">
                </div>
            </div>
        </form>
        <form id="delete-categorys" class="update-category" th:action="@{/category/delete}" method="post"
              accept-charset=utf-8>
            <div class="wrapper-update-account">
                <label>ИД Категории<select id="delete-type">
                    <option th:each="category : ${categories}" th:value="${category.categoryId}"></option>
                </select></label>
                <div id="hidden-delete-category">
                    <input id="delete-category" type="submit" onclick="deleteCategory();return false;" value="Удалить Категорию">
                </div>
            </div>
        </form>
    </section>
</main>
<script type="text/javascript" th:src="@{/js/category/addCategory.js}" src="/js/category/addCategory.js"></script>
<script type="text/javascript" th:src="@{/js/category/updateCategory.js}" src="/js/category/updateCategory.js"></script>
<script type="text/javascript" th:src="@{/js/category/deleteCategory.js}" src="/js/category/deleteCategory.js"></script>
</body>
</html>