<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomeFinance</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script|Lato|Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="header.html::header"></div>
<div th:replace="header.html::section"></div>
<div class="main-conteiner">
    <main class="main-currency">
        <section class="crud-operation-currency">
            <table id="currency-crud-table" cellspacing='0'>
                <tr>
                    <th width="120">CurrencyID</th>
                    <th width="120">Code</th>
                    <th width="120">Symbols</th>
                    <th width="120">Edit</th>
                    <th width="120">Delete</th>
                </tr>
                <tr th:each="currency : ${currencies}">
                    <td th:text="${currency.currencyId}"></td>
                    <td th:text="${currency.code}"></td>
                    <td><img th:src="${currency.symbol}"></td>
                    <td><a href="#updateForm" onclick="update()">Edit</a></td>
                    <td>
                        <form onclick="deleteCurrency();return false;" action="/currency/delete/" method="post"
                              accept-charset=utf-8>
                            <button th:id="'button' + ${currency.currencyId}" th:value="${currency.currencyId}"
                                    onclick="getId(this.id);">Delete
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
            <div class="addCurrency-container">
                <button id="addCurrencyButton">Add Currency</button>
                <form th:action="@{/currency/add}" method="post" id="postcard" accept-charset=utf-8>
                    <div class="form-row">
                        <label for="message">Currency Code: </label><textarea name="CurrencyType" id="message" required
                                                                              maxlength="3"></textarea>
                    </div>
                    <div class="form-row">
                        <input type="submit" onclick="currencyAdd();return false;" value="Add Currency">
                    </div>
                </form>
            </div>
            <div class="update-currency">
                <form th:action="@{/currency/update}" method="post" id="updateForm" accept-charset=utf-8>
                    <div class="form-row-edit">
                        <label for="message">CurrencyID: </label><textarea id="message-edit" name="CurrencyId" required
                                                                           maxlength="1"></textarea>
                    </div>
                    <div class="form-row-edit">
                        <label for="message">Currency Code: </label><textarea id="message-edit2" name="CurrencyCode"
                                                                              required
                                                                              maxlength="3"></textarea>
                        <div id="hiddenUpdateCurrency">
                            <input type="submit" onclick="updateCurrency();return false;" value="Update Currency"><br>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
</div>
<script type="text/javascript">
    document.getElementById('addCurrencyButton').onclick = () => {
        document.getElementById('postcard').style.display = 'block';
    };
    const update = () => {
        document.getElementById('updateForm').style.display = 'block';
    };
    document.getElementsByClassName("form-row")[1].onclick = () => {
        document.getElementById("postcard").style.display = "none"
    };
    document.getElementById("hiddenUpdateCurrency").onclick = () => {
        document.getElementById("updateForm").style.display = "none"
    };
</script>
<script type="text/javascript" th:src="@{/js/currency/addCurrency.js}" src="/js/currency/addCurrency.js"></script>
<script type="text/javascript" th:src="@{/js/currency/updateCurrency.js}" src="/js/currency/updateCurrency.js"></script>
<script type="text/javascript" th:src="@{/js/currency/removeCurrency.js}" src="/js/currency/removeCurrency.js"></script>
<script type="text/javascript" th:src="@{/js/currency/getId.js}" src="/js/currency/getId.js"></script>
</body>
</html>