<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomeFinance</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script|Lato|Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <main class="main-auth">
        <section class="auth">
            <div class="auth-conteiner">
                <form class="auth-form" th:action="@{/login}" method="post" accept-charset=utf-8>
                    <img src="/img/moneybox-logo.png" width="80px" height="80px">
                    <label>Login: <input id="login" name="username" type="text"></label>
                    <label>Password: <input id="password" name="password" type="text"></label>
                    <input class="signIn" type="submit" value="Войти">
                    <span class="hidden-auth-span"></span>
                    <a id="registration" href="#">Регистрация</a>
                </form>
            </div>
        </section>
    </main>
</body>
</html>