<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomeFinance</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script|Lato|Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="header.html::header"></div>
<div th:replace="header.html::section"></div>
<main class="main-transaction">
    <section class="create-transaction">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Название Транзакции</th>
                <th>Название Счета</th>
                <th>Категория</th>
                <th>Время проведения транзакции</th>
                <th>Изменить Операцию</th>
                <th>Удалить Операцию</th>
            </tr>
            <tr th:each="transaction: ${transactions}">
                <td th:text="${transaction.name}"></td>
                <td th:text="${transaction.accountModel.name}"></td>
                <td th:text="${transaction.categoryTransaction.get(0).typeCategory}"></td>
                <td th:text="${transaction.operationDate}"></td>
            </tr>
        </table>
        <button class="addTransaction">Добавить Транзакцию</button>
        <form id="create-new-transaction" class="create-new-transaction" th:action="@{/transaction/add}" method="post"
              accept-charset=utf-8>
            <div class="wrapper-create-new-transaction">
                <label class="transaction-name">Название Транзакции<input id="transaction-name" type="text"></label>
                <label>Категория<select id="type-transaction-category">
                    <option th:each="category : ${categories}" th:value="${category.typeCategory}"></option>
                </select>
                </label>
                <label>Счет<select id="type-transaction-account">
                    <option th:each="account : ${accounts}" th:value="${account.name}"></option>
                </select>
                </label>
                <div id="hidden-transaction">
                    <input id="save-transaction" type="submit" onclick="addTransaction();return false;" value="Сохранить Категорию">
                </div>
            </div>
        </form>
    </section>
</main>
<script type="text/javascript" th:src="@{/js/transaction/addTransaction.js}" src="/js/transaction/addTransaction.js"></script>
</body>
</html>